
/* navigation */
/* @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Poppins:400,400i,700");

:root{
  --bg-color: #c9b1b1;
  --div1-bg-color:#EEE2DC ;
  --div2-bg-color: #b8b2b2d8;
  --text-color: #AC3B61;
  --main-color: #0b2847;
}
body{
  width:100%;
}
.navbar{
  background:var(--main-color);
  height:100px;
  /* opacity: 0.8; */
}
.navbar p{
margin-top: 80px;
 font-size: 150%;
/* font-family: Arial, Helvetica, sans-serif; */
margin-left:-150px;

}
nav { 
  color:var(--bg-color);
  /* text-shadow: 0px 0px 4px rgb(44, 163, 255); */
  
}

.navbar-nav {
  justify-content: end;
  margin-right: 2px;
  margin-left: 60px;
}

.nav-link {
  color: var(--bg-color);
  /* font-weight: bolder; */
  /* font-family: sans-serif; */
}

.navbar-brand {
  color: var(--bg-color);
  font-weight: bolder;
  /* font-family: monospace; */
  font-size: 350%;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* text-shadow: 0px 0px 4px rgb(44, 163, 255); */
  margin-top:-20px;
}

.btn-success{
  
  margin-left:-1px;
  margin-top:10px;
  margin-bottom:10px;

}
.form-control{
  margin:10px;
}

.navbar-brand:hover {
  color: #ffff;
}

.d-flex input {
  margin-top: 10px;
  margin-left: 60px;
  /* background: transparent; */
  border-radius: 0.4vw; 
  box-shadow: 0 0 .4vw rgb(0, 0, 0), 0 0 0 .15vw transparent;
 justify-content: center;
 align-items: center;
}

.collapse {
  /* flex-basis: 100%; */
  flex-grow: -5 ;
  /* align-items: center; */

}
/* heading */

.image{
  position: relative;
  overflow: hidden;
  padding-top: -30px;
  
}

.image img {
  height: 780px;
  width: 1480px;
}

.header{
  position: absolute;
  width: 60%;
  height: 80px;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index:1;
  opacity: 0.8;
  
}

.header h1{
  color: #ffff;
  background: var(--main-color);
  padding: 15px;
  margin-top: 115px;

}

.main-container {
    display: flex;
    flex-wrap: wrap;
    height: 60vh;
    background: #fff;
  }
  
  .container-one {
    color: rgb(7, 1, 57);
    padding: 10%;
    font-weight: bolder;
    flex: 1;
    box-sizing: border-box;
    /* Removed display: inline; for better responsiveness */
    font-size: 25px;
    padding-right: 50px;
    margin-left: 60px;
  }
  
  .container-two {
    font-size: 20px;
    color: black;
    padding: 5%;
    margin: 5%;
    margin-bottom: 20px;
     
    flex: 1;
    box-sizing: border-box;
    text-align: justify;
  }
  
  .intro-list {
    list-style: disc; 
    margin-left: 190px;
    margin-bottom: 50px; /* Space below the list */
  }
  
  
  .intro-list li {
    margin-bottom: 10px;  
    padding-left: 10px;  
  }
  
.intro-list h2{
    justify-content: center;
    margin-left: 10px;
    margin-bottom: 20px;
}
  .intro-list h5 {
    color: rgb(7, 1, 57);
    justify-content: center;
    margin-right: 15px;
    margin-bottom: 10px;
  }
/* section 2 */


.info-container {
  background-color: rgb(17, 60, 95);
  background-image: url(https://images.unsplash.com/photo-1497486443155-158cceb6629a?q=80&w=1925&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  height: 670px;
  width: 100%;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  background-position: center;
  background-blend-mode: multiply;
  color: #fff;
}
.info-container h1{
  margin-left: 250px;
  color: #fff;
}

ul.info-ul {
    list-style-type: square;/* Square bullets outside the content */
  }
  

.info-container h4{
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 10px;
}

/* section3 */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

* {
	box-sizing: border-box;
}
.what-we-offer h1 {
   margin-top: 40px;
    font-style: italic;
    padding-bottom: 5px;
    margin-bottom: 20px;
    color: #fffdfd;
    background: var(--main-color);
    align-items: center;
    padding-bottom: 15px;
    padding-left: 300px;
    margin-top: 30px;
    opacity: 0.8;
     
  
}
.what-we-offer p {
	margin-top: 20px;
  margin-left: 20px;
	line-height: 1.6;
}

.what-we-offer ol {
	list-style: none;
	counter-reset: list;
	padding: 0 1rem;
}

.what-we-offer li {
	--stop: calc(100% / var(--length) * var(--i));
	--l: 62%;
	--l2: 88%;
	--h: calc((var(--i) - 1) * (180 / var(--length)));
	--c1: hsl(var(--h), 71%, var(--l));
	--c2: hsl(var(--h), 71%, var(--l2));
	
	position: relative;
	counter-increment: list;
	max-width: 80rem;
  margin-left: 50px;
	margin-bottom: 50px;
	padding: 1rem 1rem 1rem;
	box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3);
	border-radius: 0.25rem;
	overflow: hidden;
	background-color: white;
}

.what-we-offer li::before {
	content: '';
	display: block;
	width: 100%;
	height: 1rem;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(to right, var(--c1) var(--stop), var(--c2) var(--stop));
}

.what-we-offer h3 {
	display: flex;
	align-items: baseline;
	padding-right: 50px;
	color: rgb(70 70 70);
}

.what-we-offer h3::before {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 auto;
	margin-right: 1rem;
	width: 3rem;
	height: 4rem;
	content: counter(list);
	padding: 1rem;
	border-radius: 50%;
	background-color: var(--c1);
	color: white;
}

/* card */
#card{
  padding-top: 20px;
}
#cardheading{
    color: #fffdfd;
    background: var(--main-color);
    align-items: center;
    padding-bottom: 15px;
    padding-left: 460px;
    margin-top: 30px;
    opacity: 0.8;
}
.card-outer{
    display:flex;
    flex-wrap: wrap;
    margin-left:100px;
    margin-top:30px;
}
.card {
    position: relative;
    width: 300px;
    height: 400px;
    margin-left: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 128, 128, 0.2);
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  .card__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  .card__content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  .card__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--text-color);
  }
  
  .card__text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .card__button {
    display: inline-block;
    padding: 10px 20px;
    background:#AC3B61;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
   
  
  
  
  .card__image {
    height: 400px;
    width: 300px;
    background:#040404;
    /* you can put img url here  */
  }




/* contact us */

/* contact us */
.main-contact-container{
  background-color: var(--main-color);
  height:750px;
  margin-bottom: -100px;
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;

}
.contact-section h1 {
    margin-left: 100px;

}
 
.info p {
  text-align:center;
  color: #111010;
  text-transform:none;
  font-weight:600;
  font-size:15px;
  margin-top:2px
}

.info i {
  color:#F6AA93;
}
.contactform {
  border-radius: 5px;
  max-width:700px;
  width:100%;
  margin-left: 6%;
  background: var(--main-color);
  overflow: hidden;
  padding-bottom: 30px;
  margin-top:-100px;
  margin-bottom:50px;
}
.contactform h1{
  color: var(--text-color);
  padding-right: 60px;
  font-size: 4rem;
  text-shadow:0px 0px 4px rgb(12, 0, 5) ;
  margin-top:20px;
  margin-bottom:20px;
  margin-left:40px;
  padding-left:100px;
}
.form-group p span {
  color: #F00;
}

.form-group p {
  margin: 0px;
  font-weight: 500;
  line-height: 2;
  color:#fbf7f7;
}

.form-group h1 {
  text-align:center; 
  color: #f8f7f7;
  margin:50px 0px 0px 0px
}

.form-group input {
  border-radius: 0px 5px 5px 0px;
  background: var(--main-color) ;
  border: 1px solid #EEE;
  color: #fff;
  margin-bottom: 15px;
  width: 75%;
  height: 40px;
  float: left;
  padding: 0px 15px;
}

.form-group a {
  text-decoration:inherit
}

.form-group textarea {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #EEE;
  background: var(--main-color);
  margin: 0;
  width: 75%;
  height: 130px; 
  float: left;
  padding: 0px 15px;
  color:white;
}

.form-group {
  overflow: hidden;
  clear: both;
}

.icon-case {
  width: 35px;
  float: left;
  border-radius: 5px 0px 0px 5px;
  background:var(--main-color);
  height:42px;
  position: relative;
  text-align: center;
  line-height:40px;
}

i {
  color:#fbf9f9;
}

.contentform {
  padding: 40px 30px;
}

.bouton-contact{
  background-color: #015e15;
  color: #FFF;
  text-align: center;
  width: 50%;
  border:0;
  padding: 17px 25px;
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
  margin-top: 40px;
  font-size: 18px;
  margin-left:150px;
}

.leftcontact {
  width:49.5%; 
  float:left;
  border-right: 1px dotted #CCC;
  box-sizing: border-box;
  padding: 0px 15px 0px 0px;
}

.rightcontact {
  width:49.5%;
  float:right;
  box-sizing: border-box;
  padding: 0px 0px 0px 15px;
}

.validation {
  display:none;
  margin: 0 0 10px;
  font-weight:400;
  font-size:13px;
  color: #DE5959;
}

#sendmessage {
  border:1px solid #fff;
  display:none;
  text-align:center;
  margin:10px 0;
  font-weight:600;
  margin-bottom:30px;
  background: var(--main-color);
  padding: 13px 40px 13px 18px;
  border-radius: 3px;
  
}

#sendmessage.show,.show  {
  display:block;
}
#exampleModalLabel{
  color:white;
  padding-left:97px;
  padding-right:96px;
}
.modal-body{
  margin-left:55px;
}


/* Style for contact information container */
.contact-address {
  height: 80px;
  width: 80px;
  background: white;
}

/* Style for contact information section */
.contact-info {
  background: var(--main-color);
  padding: -13px;
  margin-right: 40px;
  margin-left: 90px;
  height: 23rem;
  margin-bottom:-200px;
  margin-top:200px;
}

/* Style for headings */
.contact-info h5 {
  color: var(--text-color);
  font-size: 2em;
  margin-bottom: 30px;
  
}

/* Style for paragraphs */
.mb-5 {
  color: rgb(247, 246, 246);
}

/* Style for list items */
.c-flex li {
  margin-bottom: 10px;
}

/* Style for icons */
.wrap-icon {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

/* Style for text */
.text {
  color: rgb(247, 247, 247);
}

/* Clear default list styles */
.list-unstyled ul {
  list-style: none;
  padding: 5px;
}

/* Add spacing between icon and text */
li .wrap-icon {
  margin-right: 10px;
  margin-bottom: 10px;
  background: var(--text-color);
}

.donate{
  padding: 1.3em 3em;
  margin:157px 77px 450px 96px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.donate:hover {
  background-color: var(--text-color);
  box-shadow: 0px 0px 30px rgb(255, 255, 255);
  color: #fff;
  transform: translateY(-7px);
}

.donate:active {
  transform: translateY(-1px);
}



/* footer*/
footer {
  background: var(--text-color);
  color: white;
  margin-top:0px;
  padding-left: 10%;
  
}

.list-unstyled{
  text-align: center;

}
.footer{
  color: #fff;
  font-size: 15px;
  transition-duration: 0.2s;
  justify-content: center !important;
  padding: 30px;
  /* padding-top:0%; */
  
}

.footer a:hover {
  color: var(--main-color);
  text-decoration: none;
}
.copyrightline{
  margin-left: 40px;
}
.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
  margin-top: 30px;
}

.footer-middle {
  padding-top: 2em;
  color: white;
  padding-left:180px;
}

ul.list-unstyled li a {
  text-decoration: none;
}

/*SOCİAL İCONS*/
/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoYouTube:hover {
  background-color: #f3081f;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i,
.social-network a.icoYoutube:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}

.copyright {
  text-align: center;
  padding: 15px 0;
  color: #fff;
  margin-top: 15px;
}

.copyright ul {
  margin-bottom: 1rem;
  list-style: none;  
  padding-top: 40px;  
}

.copyright ul li {
  margin-left: 19px;  
}

.justify-content-center {
  justify-content: center !important;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  /* text-align: -webkit-match-parent; */
}

li a {
  text-decoration: none; /* Remove underlines from links */
  color: #fff; /* Set link color */
}
